{
  "presets": ["latest"],
  "plugins": [
    "transform-object-rest-spread",
    "transform-vue-jsx",
    ["transform-runtime", {
      "helpers": false,
      "polyfill": false,
      "regenerator": true
    }]
  ]
}
